$highlight:      #999;
$highlight-dark: #666;
$grey:        #EEE;

@import 'css-includes/mixins';
@import 'css-includes/font';
@import 'css-includes/reset';
@import 'css-includes/base';
@import 'css-includes/header';
@import 'css-includes/footer';
@import 'css-includes/imgbox';
@import 'css-includes/elements';
@import 'css-includes/slideshow';
@import 'css-includes/page-specifics';
