$mime-yellow:       #F1BE48;
$mime-orange:       #FF8200;
$mime-light-blue:   #00A3E0;
$mime-dark-blue:    #1B365D;

$main:           $mime-light-blue;
$highlight:      $mime-orange;
$highlight-dark: #d96f00;
$title-colour:   $mime-light-blue;
$grey:           #EEE;
$light-grey:     #FAFAFA;

$bodyfont:       "T Star Mono Round", "Lucida Console", Monaco, monospace;
$headlinefont:   "baqrounded";

@import 'css-includes/mixins';
@import 'css-includes/font';
@import 'css-includes/reset';
@import 'css-includes/base';
@import 'css-includes/header';
@import 'css-includes/footer';
@import 'css-includes/imgbox';
@import 'css-includes/elements';
@import 'css-includes/slideshow';
@import 'css-includes/page-specifics';
