#main{
	width:100%;
  margin:0 auto;
}

.inner{
	max-width:900px;
  margin:0 auto;
}

#content{
	margin-top:96px;
}

h3{
	font-size:150%;
}

ul{
  padding:0 40px;
}
ul li{
  margin:10px 0;
}
a{
	cursor:pointer;
}

section{
  padding:15px 0 15px;
  font-size:100%;
  background-color:#FFF;
  color:$mime-yellow;

  &.orange{
    background-color:$mime-orange;
    color:#FFF;
    p,h1,h2,h3,h4{
      color:#FFF;
    }
    a{
      color:$mime-dark-blue;
    }
  }
  &.yellow{
    background-color:$mime-yellow;
    color:#FFF;
    p,h1,h2,h3,h4{
      color:#FFF;
    }
    a{
      color:$mime-dark-blue;
    }
  }
  &.darkblue{
    background-color:$mime-dark-blue;
    color:#FFF;
    p,h1,h2,h3,h4{
      color:#FFF;
    }
    a{
      color:$mime-light-blue;
    }
  }
  &.lightblue{
    background-color:$mime-light-blue;
    color:#FFF;
    p,h1,h2,h3,h4{
      color:#FFF;
    }
    a{
      color:$mime-dark-blue;
    }
  }

  a{
    color:$mime-dark-blue;
  }

  p{
    color:$mime-dark-blue;
  }
	p, h3, h4{
		margin:5px;
	}
	h3{
	  color:$mime-orange;
		font-size:170%;
		a{
      color:$mime-orange;
	  }
	}
	h4{
		font-size:130%;
		margin-top:10px;
	}
	h3 a{
		text-decoration:none;
	}
	img{
		margin-bottom:10px;
	}
	&.subhead{
		font-size:150%;
		padding:30px 0;
	}
	&.grey{
		background-color:$grey;
	}
	&.orange{
		background-color:$highlight;
		color:#FFF;
		a{
			color:#FFF;
		}
		.button{
			background-color:#FFF;
			color:$highlight;
		}
	}
	&.text {
		margin:20px 0;
	}
	&.text p{
		line-height: 1.5em;
		font-size:80%;
	}
}

img.left{
	float:left;
	margin-right:20px;
}
img.right{
	float:right;
	margin-left:20px;
}
hr{
	clear:both;
	height:0px;
	width:0px;
}