@font-face {
  font-family: 'baqrounded';
  src: url('/assets/fonts/baqrounded/baqrounded-webfont.eot');
  src: url('/assets/fonts/baqrounded/baqrounded-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/baqrounded/baqrounded-webfont.woff2') format('woff2'),
       url('/assets/fonts/baqrounded/baqrounded-webfont.woff') format('woff'),
       url('/assets/fonts/baqrounded/baqrounded-webfont.ttf') format('truetype'),
       url('/assets/fonts/baqrounded/baqrounded-webfont.svg#baqroundedregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'baqroundedoutline';
  src: url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.eot');
  src: url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.woff2') format('woff2'),
       url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.woff') format('woff'),
       url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.ttf') format('truetype'),
       url('/assets/fonts/baqroundedoutline/baqroundedoutline-webfont.svg#baqroundedregularoutline') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot");
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot");
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:700;
}