footer{
  background:$main;
  padding:40px;
	color:#FFF;
	@include box-shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 1));

	.footlinks{
		max-width:300px;
		width:32%;
		display:inline-block;
		vertical-align:top;

		img.logo{
			height:40px;
		}
	}

	li{
		list-style-type: none;
		margin:0 0 12px 0;

		a{
			color:#FFF;
			text-decoration:none;
						
			:visited{color:#FFF;}
			:hover{color:#CCC;}
		}
	}
	.social{
		margin-bottom:60px;
	}
	.links{
		float:right;
		font-size:150%;
		vertical-align:top;
		a{
			text-decoration:none;
		}
		i, span.fa{
			vertical-align:top;
		}
		i.fa-twitter, i.fa-facebook,i.fa-youtube{
		  color:$main;
		}
	}
	.signup{
		display:inline-block;
		p{
			padding:0 0 3px 0;
			margin:0;
			font-size:85%;
		}
		input{
			width:300px;
			font-size:90%;
			padding:2px;
		}
		button{
			@include rounded(0.35em);
			background:#FFF;
			border:none;
			font-size:90%;
			padding:4px;
		}
	}
	.copyright{
		font-size:80%;
		text-align:right;
	}	
}