.imgbox{
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  text-align:center;
  padding:0;
  position:relative;
	height:70vmin;
	vertical-align:center;
	min-height:300px;
	
	@media all and (max-width: 900px) {
		#background-attachment:scroll;
		#background-position:center top;
  }
	
	.inner{
		@include vertical-align();
	}
	.button{
    @media all and (max-width: 900px) {
      font-size:150%;
      margin-top:20px
    }
  }
	
  h2{
		font-size: 300%;
		text-align:center;
		margin:10px;
		padding:0;
		display:inline-block;
		line-height:150%;
		color:$title-colour;
		text-shadow: 6px 6px 1px #FFF;
	
		@media all and (max-width: 900px) {
			font-size:180%;
		}
		@media all and (max-width: 640px) {
			font-size:130%;
			padding:3px 0;
			margin:3px;
		}
	}
}

#mirobotLeader{ background-image:url('/assets/bg/mirobotLeader.jpg');}
#mearmLeader{ background-image:url('/assets/bg/mearmLeader.jpg');}
#home2{ background-image:url('/assets/bg/kids.jpg');}
#home3{ background-image:url('/assets/bg/mearmHome3.jpg');}
#about .imgbox { background-image:url('/assets/bg/about.jpg');}
#buildMirobot .imgbox { background-image:url('/assets/bg/buildMirobot.jpg');}
#buildMearm .imgbox { background-image:url('/assets/bg/buildMearm.jpg');}
#contactImg { background-image:url('/assets/bg/contact.jpg');}
#teach{ background-image:url('/assets/bg/kids.jpg');}
#apps{ background-image:url('/assets/bg/apps.jpg');}

#home2 img{
  width:70%;
  margin:20% auto;
}
