.imgbox{
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  text-align:center;
  padding:0;
  position:relative;
	height:70vmin;
	vertical-align:center;
	min-height:300px;
	
	@media all and (max-width: 900px) {
		#background-attachment:scroll;
		#background-position:center top;
  }
	
	.inner{
	  max-width:1300px;
		@include vertical-align();
	}
	.button{
    @media all and (max-width: 900px) {
      font-size:150%;
      margin-top:20px
    }
  }
	
  h2{
		font-size: 420%;
		text-align:center;
		margin:30px 0;
		padding:0;
		display:inline-block;
		line-height:100%;
		color:$title-colour;
		text-shadow: 0px 0px 6px #FFF;
	
		@media all and (max-width: 900px) {
			font-size:180%;
		}
		@media all and (max-width: 640px) {
			font-size:130%;
			padding:3px 0;
			margin:3px;
		}

		&.notfound{
		  text-align:left;
      font-family: $bodyfont;
      font-weight:bold;
      display:block;
		}
	}
}

#mirobotLeader{ background-image:url('/assets/bg/mirobotLeader.jpg');}
#mearmLeader{ background-image:url('/assets/bg/mearmLeader.jpg');}
#mimeLeader{ background-image:url('/assets/bg/mime.png');}
#home2{ background-image:url('/assets/bg/kids.jpg');}
#home3{ background-image:url('/assets/bg/mearmHome3.jpg');}
#about .imgbox { background-image:url('/assets/bg/about.jpg');}
#buildMirobot .imgbox { background-image:url('/assets/bg/buildMirobot.jpg');}
#buildMearm .imgbox { background-image:url('/assets/bg/buildMearm.jpg');}
#contactImg { background-image:url('/assets/bg/contact.jpg');}
#teach{ background-image:url('/assets/bg/kids.jpg');}
#apps{ background-image:url('/assets/bg/apps.jpg');}

#mirobotProduct{ background-image:url('/assets/mirobot/product.jpg');}
#mearmProduct{ background-image:url('/assets/mearm/product.jpg');}

#home2{
  position:relative;
  text-align:center;
}

#home2 img{
  width:70%;
  max-width:900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


